<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <label>Team Name: <input name="team[name]" type="text"></label>
  <label>Team Motto: <input name="team[motto]" type="text"></label>
  <h3>Hero 1</h3>
  <label>Hero's Name: <input id="member1_name" name="team[members][][name]" type="text"></label>
  <label>Hero's Power: <input id="member1_power" name="team[members][][power]" type="text"></label>
  <label>Hero's Biography: <input id="member1_bio" name="team[members][][bio]" type="text"></label>
  <h3>Hero 2</h3>
  <label>Hero's Name: <input id="member2_name" name="team[members][][name]" type="text"></label>
  <label>Hero's Power: <input id="member2_power" name="team[members][][power]" type="text"></label>
  <label>Hero's Biography: <input id="member2_bio" name="team[members][][bio]" type="text"></label>
  <h3>Hero 3</h3>
  <label>Hero's Name: <input id="member3_name" name="team[members][][name]" type="text"></label>
  <label>Hero's Power: <input id="member3_power" name="team[members][][power]" type="text"></label>
  <label>Hero's Biography: <input id="member3_bio" name="team[members][][bio]" type="text"></label>
  <input type="submit" value="submit"
</form>
